
@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("English", "Change", "Lang", new { lang = "En" }, null)</li>
    <li>@Html.ActionLink("Polish", "Change", "Lang", new { lang = "Pl" }, null)</li>
    <li>@Html.ActionLink("Russian", "Change", "Lang", new { lang = "Ru" }, null)</li>
    
</ul>

