
@{
    ViewBag.Title = "AddToRole";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="alert alert-success" style="width: 400px">
    <strong>Sukces!</strong> Nadałeś użytkownikowi rolę pracownika.
</div>
