
@{
    ViewBag.Title = "DeleteFromRole";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>DeleteFromRole</h2>

<div class="alert alert-success" style="width: 400px">
    <strong>Sukces!</strong> Usunąłeś rolę użytkownika.
</div>

