@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Nie zalogowano.</h1>
    <h2 class="text-danger">To konto nie zostało jeszcze aktywowane, spróbuj ponownie później.</h2>
</hgroup>
